<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Softwarecatalogus Non-functionals</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Softwarecatalogus Non-functionals</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-2dcde77f1bb24c0b81d7ebffc3eaa1af.png" alt="Softwarecatalogus Non-functionals" usemap="#id-2dcde77f1bb24c0b81d7ebffc3eaa1afmap"/>
			   <map name="id-2dcde77f1bb24c0b81d7ebffc3eaa1afmap">
				  						<area shape="rect" coords="985,776,1441,1097" href="../elements/id-3a5c4e75d378434da1955b5ade852d3d.html"  target="element">
				  						<area shape="rect" coords="1520,776,1896,1097" href="../elements/id-8537deabdaec4007aa1399cebe12d535.html"  target="element">

				  				<area shape="rect" coords="950,736,1926,1116" href="../elements/id-68aa6a77ac8e44c48f0946f1e401a598.html"  target="element">
				  						<area shape="rect" coords="980,480,1436,696" href="../elements/id-b1436a24c83748fb88a2514445947b1f.html"  target="element">
				  						<area shape="rect" coords="980,345,1436,456" href="../elements/id-fdf6a1dd7ad3438f9e9f5886cd26fc48.html"  target="element">
				  						<area shape="rect" coords="980,85,1436,326" href="../elements/id-b52234ff028f4f67a1d30344b8b0f385.html"  target="element">

				  				<area shape="rect" coords="950,50,1466,716" href="../elements/id-8332a264282249c598101706d2a2059d.html"  target="element">
				  						<area shape="rect" coords="525,945,901,1096" href="../elements/id-2a00e83c35d44842b73fd4414346ada0.html"  target="element">
				  						<area shape="rect" coords="525,775,901,926" href="../elements/id-1e72d2f592d843b5bff816ca16478647.html"  target="element">
				  						<area shape="rect" coords="65,945,441,1096" href="../elements/id-3d141054d0ce4246a59b4a6e6b950e14.html"  target="element">
				  						<area shape="rect" coords="65,775,441,926" href="../elements/id-16e918b3b52f41daafd4174c4a0989c0.html"  target="element">

				  				<area shape="rect" coords="30,735,931,1116" href="../elements/id-2bb941d2551b45268a957e9fc5f24304.html"  target="element">
				  						<area shape="rect" coords="525,544,901,695" href="../elements/id-66b945c872ab43c0a127d8048ece48bd.html"  target="element">

				  				<area shape="rect" coords="490,504,931,715" href="../elements/id-322675e16f9648fb8d8633169a2bc80c.html"  target="element">
				  						<area shape="rect" coords="525,305,901,456" href="../elements/id-ebae168dc3054712b7b166d004245be8.html"  target="element">
				  						<area shape="rect" coords="525,80,901,281" href="../elements/id-2912e906f345492ba4b4d84dd4b5811f.html"  target="element">

				  				<area shape="rect" coords="490,50,931,487" href="../elements/id-0ec38d8f7d6346afa1d67d0c5a6beac2.html"  target="element">
				  						<area shape="rect" coords="1520,480,1896,696" href="../elements/id-aaa037672cd64dfc9eefe1e631891cb5.html"  target="element">
				  						<area shape="rect" coords="1520,305,1896,456" href="../elements/id-696741940cf34521a0f524f4b3618862.html"  target="element">
				  						<area shape="rect" coords="1520,85,1896,281" href="../elements/id-214ff30470f84fa6a4f74095a8500694.html"  target="element">

				  				<area shape="rect" coords="1485,50,1926,715" href="../elements/id-d74174c2311144ada4be00eac18ccb91.html"  target="element">
				  						<area shape="rect" coords="65,545,441,696" href="../elements/id-3f0f95a7f1ef4937a0d9a200137d2198.html"  target="element">

				  				<area shape="rect" coords="30,505,471,716" href="../elements/id-8e79f35d19dc4f4ebcd4b67a0dfa1f18.html"  target="element">
				  						<area shape="rect" coords="70,305,446,456" href="../elements/id-ad2d06f31baa4ab1bd0710d0390e9f6f.html"  target="element">

				  				<area shape="rect" coords="30,275,471,486" href="../elements/id-626bf1bb92884e7fbf064d1517043a10.html"  target="element">
				  						<area shape="rect" coords="65,80,441,231" href="../elements/id-4794850103494007a4b4cfe40ecffb7e.html"  target="element">

				  				<area shape="rect" coords="30,50,471,261" href="../elements/id-ed531a5198c2439f9a54f3660c0683c5.html"  target="element">

				  		<area shape="rect" coords="10,10,1946,1141" href="../elements/id-401d318848264cf2b8b8f79441696311.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>generate_view_param</td><td class="convertlinks no-margin" style="white-space:pre-wrap">{
								 "action": "Layout",
								 "graphDepth": 0,
								 "includeElementType": [],
								 "includeRelationType": [],
								 "layoutReversed": [
								  "assignment-relationship",
								  "association-relationship"
								 ],
								 "layoutNested": [
								  "aggregation-relationship",
								  "assignment-relationship",
								  "association-relationship",
								  "realization-relationship"
								 ],
								 "layoutCircular": false,
								 "graphDirection": "LR",
								 "ranker": "network-simplex",
								 "nodeWidth": 200,
								 "nodeHeight": 60,
								 "hSep": 20,
								 "vSep": 180,
								 "debug": false,
								 "excludeFromView": false,
								 "viewName": "Softwarecatalogus Non-functionals",
								 "viewNameSuffix": "",
								 "viewFolder": ""
								}</td></tr><tr><td>Object ID</td><td class="convertlinks no-margin" style="white-space:pre-wrap">b604026d-99bd-4423-84da-253dc5d40f44</td></tr>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-401d318848264cf2b8b8f79441696311.html" target="element"> Non-functional requirements </a> </td>
											    <td> <a href="../elements/id-401d318848264cf2b8b8f79441696311.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ed531a5198c2439f9a54f3660c0683c5.html" target="element"> Toegankelijkheid </a> </td>
													    <td> <a href="../elements/id-ed531a5198c2439f9a54f3660c0683c5.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-4794850103494007a4b4cfe40ecffb7e.html" target="element"> Feedback na fout </a> </td>
															    <td> <a href="../elements/id-4794850103494007a4b4cfe40ecffb7e.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-626bf1bb92884e7fbf064d1517043a10.html" target="element"> Betrouwbaarheid </a> </td>
													    <td> <a href="../elements/id-626bf1bb92884e7fbf064d1517043a10.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-ad2d06f31baa4ab1bd0710d0390e9f6f.html" target="element"> Beheerorganisatie </a> </td>
															    <td> <a href="../elements/id-ad2d06f31baa4ab1bd0710d0390e9f6f.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-8e79f35d19dc4f4ebcd4b67a0dfa1f18.html" target="element"> Werkwijze </a> </td>
													    <td> <a href="../elements/id-8e79f35d19dc4f4ebcd4b67a0dfa1f18.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-3f0f95a7f1ef4937a0d9a200137d2198.html" target="element"> Testen </a> </td>
															    <td> <a href="../elements/id-3f0f95a7f1ef4937a0d9a200137d2198.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-d74174c2311144ada4be00eac18ccb91.html" target="element"> Overdraagbaarheid </a> </td>
													    <td> <a href="../elements/id-d74174c2311144ada4be00eac18ccb91.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-214ff30470f84fa6a4f74095a8500694.html" target="element"> Aanpasbaarheid </a> </td>
															    <td> <a href="../elements/id-214ff30470f84fa6a4f74095a8500694.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-696741940cf34521a0f524f4b3618862.html" target="element"> OTAP omgeving </a> </td>
															    <td> <a href="../elements/id-696741940cf34521a0f524f4b3618862.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-aaa037672cd64dfc9eefe1e631891cb5.html" target="element"> Installeerbaarheid </a> </td>
															    <td> <a href="../elements/id-aaa037672cd64dfc9eefe1e631891cb5.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-0ec38d8f7d6346afa1d67d0c5a6beac2.html" target="element"> Bruikbaarheid </a> </td>
													    <td> <a href="../elements/id-0ec38d8f7d6346afa1d67d0c5a6beac2.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-2912e906f345492ba4b4d84dd4b5811f.html" target="element"> Gebruikersvriendelijk </a> </td>
															    <td> <a href="../elements/id-2912e906f345492ba4b4d84dd4b5811f.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-ebae168dc3054712b7b166d004245be8.html" target="element"> Toegankelijkheid </a> </td>
															    <td> <a href="../elements/id-ebae168dc3054712b7b166d004245be8.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-322675e16f9648fb8d8633169a2bc80c.html" target="element"> Informatiemodel </a> </td>
													    <td> <a href="../elements/id-322675e16f9648fb8d8633169a2bc80c.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-66b945c872ab43c0a127d8048ece48bd.html" target="element"> Gebruik informatiemodel voorzieningencatalogus </a> </td>
															    <td> <a href="../elements/id-66b945c872ab43c0a127d8048ece48bd.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-2bb941d2551b45268a957e9fc5f24304.html" target="element"> Onderhoudbaarheid </a> </td>
													    <td> <a href="../elements/id-2bb941d2551b45268a957e9fc5f24304.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-16e918b3b52f41daafd4174c4a0989c0.html" target="element"> Herbruikbaarheid </a> </td>
															    <td> <a href="../elements/id-16e918b3b52f41daafd4174c4a0989c0.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3d141054d0ce4246a59b4a6e6b950e14.html" target="element"> Modulariteit </a> </td>
															    <td> <a href="../elements/id-3d141054d0ce4246a59b4a6e6b950e14.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-1e72d2f592d843b5bff816ca16478647.html" target="element"> Techniek toekomstvast </a> </td>
															    <td> <a href="../elements/id-1e72d2f592d843b5bff816ca16478647.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-2a00e83c35d44842b73fd4414346ada0.html" target="element"> Webstatistieken </a> </td>
															    <td> <a href="../elements/id-2a00e83c35d44842b73fd4414346ada0.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-8332a264282249c598101706d2a2059d.html" target="element"> Informatiebeveiliging </a> </td>
													    <td> <a href="../elements/id-8332a264282249c598101706d2a2059d.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-b52234ff028f4f67a1d30344b8b0f385.html" target="element"> Logging activiteiten </a> </td>
															    <td> <a href="../elements/id-b52234ff028f4f67a1d30344b8b0f385.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-fdf6a1dd7ad3438f9e9f5886cd26fc48.html" target="element"> nl.internet standaarden </a> </td>
															    <td> <a href="../elements/id-fdf6a1dd7ad3438f9e9f5886cd26fc48.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-b1436a24c83748fb88a2514445947b1f.html" target="element"> Toegangsbeveiliging </a> </td>
															    <td> <a href="../elements/id-b1436a24c83748fb88a2514445947b1f.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-68aa6a77ac8e44c48f0946f1e401a598.html" target="element"> Standaarden </a> </td>
													    <td> <a href="../elements/id-68aa6a77ac8e44c48f0946f1e401a598.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-8537deabdaec4007aa1399cebe12d535.html" target="element"> NL API strategie standaarden </a> </td>
															    <td> <a href="../elements/id-8537deabdaec4007aa1399cebe12d535.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3a5c4e75d378434da1955b5ade852d3d.html" target="element"> e-mail standaarden </a> </td>
															    <td> <a href="../elements/id-3a5c4e75d378434da1955b5ade852d3d.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-95c9b45c9a734dcf8ba47f066a30d2f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-95c9b45c9a734dcf8ba47f066a30d2f0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-401d318848264cf2b8b8f79441696311.html" target="element"> Non-functional requirements </a> </td>
																		<td> <a href="../elements/id-ed531a5198c2439f9a54f3660c0683c5.html" target="element"> Toegankelijkheid </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-da52994f94bd4dfaa2450ff97e6ecb53.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-da52994f94bd4dfaa2450ff97e6ecb53.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-401d318848264cf2b8b8f79441696311.html" target="element"> Non-functional requirements </a> </td>
																		<td> <a href="../elements/id-626bf1bb92884e7fbf064d1517043a10.html" target="element"> Betrouwbaarheid </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0211d6d30d8a426da45e8e404a37dfe8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0211d6d30d8a426da45e8e404a37dfe8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-401d318848264cf2b8b8f79441696311.html" target="element"> Non-functional requirements </a> </td>
																		<td> <a href="../elements/id-8e79f35d19dc4f4ebcd4b67a0dfa1f18.html" target="element"> Werkwijze </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-00f240bd3afc477ab4f359bf72dffbf6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00f240bd3afc477ab4f359bf72dffbf6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-401d318848264cf2b8b8f79441696311.html" target="element"> Non-functional requirements </a> </td>
																		<td> <a href="../elements/id-d74174c2311144ada4be00eac18ccb91.html" target="element"> Overdraagbaarheid </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-74160241fe7b405cb56a9c5460c8e195.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-74160241fe7b405cb56a9c5460c8e195.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-401d318848264cf2b8b8f79441696311.html" target="element"> Non-functional requirements </a> </td>
																		<td> <a href="../elements/id-0ec38d8f7d6346afa1d67d0c5a6beac2.html" target="element"> Bruikbaarheid </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-27f45491f61e45d3950878c1be05b53e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-27f45491f61e45d3950878c1be05b53e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-401d318848264cf2b8b8f79441696311.html" target="element"> Non-functional requirements </a> </td>
																		<td> <a href="../elements/id-322675e16f9648fb8d8633169a2bc80c.html" target="element"> Informatiemodel </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-01803155ebf842b2acae9c8b5a35a16c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-01803155ebf842b2acae9c8b5a35a16c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-401d318848264cf2b8b8f79441696311.html" target="element"> Non-functional requirements </a> </td>
																		<td> <a href="../elements/id-2bb941d2551b45268a957e9fc5f24304.html" target="element"> Onderhoudbaarheid </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-476f9269c8f842c4ba0d16272e63f765.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-476f9269c8f842c4ba0d16272e63f765.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-401d318848264cf2b8b8f79441696311.html" target="element"> Non-functional requirements </a> </td>
																		<td> <a href="../elements/id-8332a264282249c598101706d2a2059d.html" target="element"> Informatiebeveiliging </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fdb819a98de94bcfafd9c1a0918d8aad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fdb819a98de94bcfafd9c1a0918d8aad.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-401d318848264cf2b8b8f79441696311.html" target="element"> Non-functional requirements </a> </td>
																		<td> <a href="../elements/id-68aa6a77ac8e44c48f0946f1e401a598.html" target="element"> Standaarden </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f9fb07a15434441f8c7e9bfcd4e46a0f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f9fb07a15434441f8c7e9bfcd4e46a0f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ed531a5198c2439f9a54f3660c0683c5.html" target="element"> Toegankelijkheid </a> </td>
																				<td> <a href="../elements/id-4794850103494007a4b4cfe40ecffb7e.html" target="element"> Feedback na fout </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-d284fa64450e48e9bc5f003e3690e302.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d284fa64450e48e9bc5f003e3690e302.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-626bf1bb92884e7fbf064d1517043a10.html" target="element"> Betrouwbaarheid </a> </td>
																				<td> <a href="../elements/id-ad2d06f31baa4ab1bd0710d0390e9f6f.html" target="element"> Beheerorganisatie </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-adbcaf87c09045a1b4aac00f8ec282df.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-adbcaf87c09045a1b4aac00f8ec282df.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8e79f35d19dc4f4ebcd4b67a0dfa1f18.html" target="element"> Werkwijze </a> </td>
																				<td> <a href="../elements/id-3f0f95a7f1ef4937a0d9a200137d2198.html" target="element"> Testen </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-caee94a71e4547e2bf99ab1aa620a3e7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-caee94a71e4547e2bf99ab1aa620a3e7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d74174c2311144ada4be00eac18ccb91.html" target="element"> Overdraagbaarheid </a> </td>
																				<td> <a href="../elements/id-214ff30470f84fa6a4f74095a8500694.html" target="element"> Aanpasbaarheid </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2aa9bfa938c3410fb32f0a77e9bff746.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2aa9bfa938c3410fb32f0a77e9bff746.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d74174c2311144ada4be00eac18ccb91.html" target="element"> Overdraagbaarheid </a> </td>
																				<td> <a href="../elements/id-aaa037672cd64dfc9eefe1e631891cb5.html" target="element"> Installeerbaarheid </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5e8a052364d7410a9401115cc645cbe7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5e8a052364d7410a9401115cc645cbe7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d74174c2311144ada4be00eac18ccb91.html" target="element"> Overdraagbaarheid </a> </td>
																				<td> <a href="../elements/id-696741940cf34521a0f524f4b3618862.html" target="element"> OTAP omgeving </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-36fa349bf81d461eaaf32b6d3e9d7626.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-36fa349bf81d461eaaf32b6d3e9d7626.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0ec38d8f7d6346afa1d67d0c5a6beac2.html" target="element"> Bruikbaarheid </a> </td>
																				<td> <a href="../elements/id-2912e906f345492ba4b4d84dd4b5811f.html" target="element"> Gebruikersvriendelijk </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-27dd42fd69df43dba34b95e9a2e78345.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-27dd42fd69df43dba34b95e9a2e78345.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0ec38d8f7d6346afa1d67d0c5a6beac2.html" target="element"> Bruikbaarheid </a> </td>
																				<td> <a href="../elements/id-ebae168dc3054712b7b166d004245be8.html" target="element"> Toegankelijkheid </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-399fc693fa4b4fe2b7247b719fcc13bb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-399fc693fa4b4fe2b7247b719fcc13bb.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-322675e16f9648fb8d8633169a2bc80c.html" target="element"> Informatiemodel </a> </td>
																				<td> <a href="../elements/id-66b945c872ab43c0a127d8048ece48bd.html" target="element"> Gebruik informatiemodel voorzieningencatalogus </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-7171fed5a81741d5a15ddd25d1bc5121.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7171fed5a81741d5a15ddd25d1bc5121.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2bb941d2551b45268a957e9fc5f24304.html" target="element"> Onderhoudbaarheid </a> </td>
																				<td> <a href="../elements/id-16e918b3b52f41daafd4174c4a0989c0.html" target="element"> Herbruikbaarheid </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b5c2008ef3384f10bdf95e0213f11a5c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b5c2008ef3384f10bdf95e0213f11a5c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2bb941d2551b45268a957e9fc5f24304.html" target="element"> Onderhoudbaarheid </a> </td>
																				<td> <a href="../elements/id-3d141054d0ce4246a59b4a6e6b950e14.html" target="element"> Modulariteit </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fc9dd976f1e94a37bd3c1defe37906e2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fc9dd976f1e94a37bd3c1defe37906e2.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2bb941d2551b45268a957e9fc5f24304.html" target="element"> Onderhoudbaarheid </a> </td>
																				<td> <a href="../elements/id-1e72d2f592d843b5bff816ca16478647.html" target="element"> Techniek toekomstvast </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0c11ea2135b0422099536a8bcbf3d19e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0c11ea2135b0422099536a8bcbf3d19e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2bb941d2551b45268a957e9fc5f24304.html" target="element"> Onderhoudbaarheid </a> </td>
																				<td> <a href="../elements/id-2a00e83c35d44842b73fd4414346ada0.html" target="element"> Webstatistieken </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-9eb25a939a814247a5045ce95216a12e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9eb25a939a814247a5045ce95216a12e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8332a264282249c598101706d2a2059d.html" target="element"> Informatiebeveiliging </a> </td>
																				<td> <a href="../elements/id-b52234ff028f4f67a1d30344b8b0f385.html" target="element"> Logging activiteiten </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f2bb932de68748f082f583c02ffedcc0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f2bb932de68748f082f583c02ffedcc0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8332a264282249c598101706d2a2059d.html" target="element"> Informatiebeveiliging </a> </td>
																				<td> <a href="../elements/id-fdf6a1dd7ad3438f9e9f5886cd26fc48.html" target="element"> nl.internet standaarden </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c61c52fd03fa4d15bc34cdb1c06925a9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c61c52fd03fa4d15bc34cdb1c06925a9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8332a264282249c598101706d2a2059d.html" target="element"> Informatiebeveiliging </a> </td>
																				<td> <a href="../elements/id-b1436a24c83748fb88a2514445947b1f.html" target="element"> Toegangsbeveiliging </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-bb4412e64e52415fa669ae2fcf36a2df.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bb4412e64e52415fa669ae2fcf36a2df.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-68aa6a77ac8e44c48f0946f1e401a598.html" target="element"> Standaarden </a> </td>
																				<td> <a href="../elements/id-8537deabdaec4007aa1399cebe12d535.html" target="element"> NL API strategie standaarden </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e660c7773d63470d9c65ec2d4587a584.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e660c7773d63470d9c65ec2d4587a584.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-68aa6a77ac8e44c48f0946f1e401a598.html" target="element"> Standaarden </a> </td>
																				<td> <a href="../elements/id-3a5c4e75d378434da1955b5ade852d3d.html" target="element"> e-mail standaarden </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>