<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Softwarecatalogus technische architectuur</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Softwarecatalogus technische architectuur</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d97590b3088c49fd9acb77a668b6603e.png" alt="Softwarecatalogus technische architectuur" usemap="#id-d97590b3088c49fd9acb77a668b6603emap"/>
			   <map name="id-d97590b3088c49fd9acb77a668b6603emap">
				  		<area shape="rect" coords="1380,340,1521,401" href="../elements/id-3df035dff1bc47f4b1005067435b5c95.html"  target="element">
				  		<area shape="rect" coords="1194,338,1335,399" href="../elements/id-1534491b9e624b8c83816e6418b42df6.html"  target="element">
				  				<area shape="rect" coords="1210,630,1330,691" href="../elements/id-2911cd5341e14765b8a64eda34206da2.html"  target="element">

				  		<area shape="rect" coords="1190,570,1360,811" href="../elements/id-f92acf172b3f45b289d4580eeb5cfa8f.html"  target="element">
				  		<area shape="rect" coords="1183,452,1354,541" href="../elements/id-e94c49cada2348e1b70f8d08bc073618.html"  target="element">
				  		<area shape="rect" coords="1070,200,1211,261" href="../elements/id-6d6a7a0d31f74b41b54d318c0f4e78db.html"  target="element">
				  		<area shape="rect" coords="390,10,841,71" href="../elements/id-a1450fa4cb4d4074beb1a3b5af543512.html"  target="element">
				  		<area shape="rect" coords="700,200,841,261" href="../elements/id-6d6a7a0d31f74b41b54d318c0f4e78db.html"  target="element">
				  		<area shape="rect" coords="910,200,1051,261" href="../elements/id-b80d775323b34f468a649e403e382bfe.html"  target="element">
				  		<area shape="rect" coords="700,100,841,161" href="../elements/id-81d8462d96984b049600c965de8fe114.html"  target="element">
				  		<area shape="rect" coords="990,10,1131,71" href="../elements/id-f0c74456e55749de9cde3b254f870ee0.html"  target="element">
				  		<area shape="rect" coords="390,100,551,161" href="../elements/id-e1121c83f9934436b5d94f37fbb8a3c3.html"  target="element">
				  		<area shape="rect" coords="390,200,551,261" href="../elements/id-6d6a7a0d31f74b41b54d318c0f4e78db.html"  target="element">
				  		<area shape="rect" coords="1010,340,1151,401" href="../elements/id-10951b488eba434ead9d285f7d484771.html"  target="element">
				  		<area shape="rect" coords="830,340,971,401" href="../elements/id-0e760cf9973b4d6bafe47114d90a648b.html"  target="element">
				  		<area shape="rect" coords="390,340,551,401" href="../elements/id-f21255fbf8d4463fb912ad145ab2258f.html"  target="element">
				  				<area shape="rect" coords="30,480,211,533" href="../elements/id-1191a952bf81466c81268735575ee1ea.html"  target="element">
				  				<area shape="rect" coords="540,480,721,533" href="../elements/id-242b7c88ccd24e8d8d54113f47d91380.html"  target="element">
				  				<area shape="rect" coords="340,480,521,533" href="../elements/id-fe7573c3be61411e80f7e41e42b16b02.html"  target="element">

				  		<area shape="rect" coords="10,450,891,543" href="../elements/id-cd9f72411edc46f692a584a7d8eec2e5.html"  target="element">
				  		<area shape="rect" coords="929,447,1150,540" href="../elements/id-1ce0cbabc1f24907bb74135505f2242a.html"  target="element">
				  				<area shape="rect" coords="1204,1071,1365,1132" href="../elements/id-e5b1ee28996e467b8678334bd72c293f.html"  target="element">
				  				<area shape="rect" coords="30,1070,191,1131" href="../elements/id-3981bec28eee4717b58fcca72f266539.html"  target="element">
				  				<area shape="rect" coords="970,1070,1131,1131" href="../elements/id-f1279011616a48c982845a2a6a059f9f.html"  target="element">
				  				<area shape="rect" coords="490,1070,651,1131" href="../elements/id-c9e2b97d13b54c34be327fdeb2313b22.html"  target="element">

				  		<area shape="rect" coords="10,1030,1541,1151" href="../elements/id-2e629270d19e4a1fab00097e8863642f.html"  target="element">
				  				<area shape="rect" coords="1380,860,1521,921" href="../elements/id-4889ee21185c4943ab58b8569f8faaa4.html"  target="element">
				  				<area shape="rect" coords="30,950,191,1011" href="../elements/id-074584f36e4d4ad1ad8c74c3bc5a09b8.html"  target="element">
				  				<area shape="rect" coords="30,870,191,931" href="../elements/id-b001d5eb91e946fc9f2fc6a019658570.html"  target="element">
				  				<area shape="rect" coords="490,870,651,931" href="../elements/id-43cae0438e5748a0b0b37bd347979a50.html"  target="element">
				  				<area shape="rect" coords="490,950,651,1011" href="../elements/id-10ce83309dc04c849b63d492e5b07cab.html"  target="element">
				  				<area shape="rect" coords="960,870,1121,931" href="../elements/id-d73ac546847c464383a63ea159fc7919.html"  target="element">

				  		<area shape="rect" coords="10,840,1541,1021" href="../elements/id-50eb5f82189046848c5f7c5d8b6071a1.html"  target="element">
				  				<area shape="rect" coords="950,650,1121,680" href="../elements/id-edc569bdc4b946dcaea1321411be9b79.html"  target="element">
				  				<area shape="rect" coords="950,740,1121,780" href="../elements/id-5c216194033d45bf84a461051ec75528.html"  target="element">
				  				<area shape="rect" coords="950,690,1121,730" href="../elements/id-06eb2bdba6414bca85aca20dd190c74c.html"  target="element">
				  				<area shape="rect" coords="950,610,1121,640" href="../elements/id-90796c0337374da8b7e72e6b4a1353f5.html"  target="element">

				  		<area shape="rect" coords="930,570,1151,811" href="../elements/id-6ddbb0ec89084949ab90920ddb9470b5.html"  target="element">
				  				<area shape="rect" coords="30,740,171,780" href="../elements/id-5c216194033d45bf84a461051ec75528.html"  target="element">
				  				<area shape="rect" coords="30,690,171,730" href="../elements/id-a36b9a95e9ff416cab3a28afb766d17c.html"  target="element">

				  		<area shape="rect" coords="10,570,197,811" href="../elements/id-e57bce35c7dd4f3bb6a8780a53f95ca6.html"  target="element">
				  				<area shape="rect" coords="580,610,751,640" href="../elements/id-ebb07b13ebae4492a84397812d59237e.html"  target="element">
				  				<area shape="rect" coords="580,740,867,780" href="../elements/id-5c216194033d45bf84a461051ec75528.html"  target="element">
				  						<area shape="rect" coords="260,690,393,730" href="../elements/id-a5b577e344934ed5aad2c9e026a57abf.html"  target="element">
				  						<area shape="rect" coords="410,690,543,730" href="../elements/id-3f7f2c1a833d4cdbbfb53e168262594c.html"  target="element">
				  						<area shape="rect" coords="413,740,546,780" href="../elements/id-e18e7e23434940d98ac4a420819872e9.html"  target="element">
				  						<area shape="rect" coords="260,640,393,680" href="../elements/id-fc323c2e5a0c4a0daef423db0d087fd5.html"  target="element">
				  						<area shape="rect" coords="260,740,393,780" href="../elements/id-2d065be102de4dc4b4eec503f47ea966.html"  target="element">

				  				<area shape="rect" coords="240,610,567,791" href="../elements/id-b27443011aef42ddbb6de57b5766efe0.html"  target="element">
				  				<area shape="rect" coords="580,690,713,730" href="../elements/id-2a1b6cfba6b040db9c1dae69ca753697.html"  target="element">
				  				<area shape="rect" coords="730,690,863,730" href="../elements/id-06eb2bdba6414bca85aca20dd190c74c.html"  target="element">

				  		<area shape="rect" coords="220,570,901,811" href="../elements/id-2b8db47d63ba4ab5ad5a55bd16086562.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Technische architectuur van de Softwarecatalogus</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>Object ID</td><td class="convertlinks no-margin" style="white-space:pre-wrap">29762fb3-3f66-4124-872d-4b792759efae</td></tr><tr><td>Publiceren</td><td class="convertlinks no-margin" style="white-space:pre-wrap">GEMMA Online en redactie</td></tr>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-2b8db47d63ba4ab5ad5a55bd16086562.html" target="element"> Drupal platform </a> </td>
											    <td> <a href="../elements/id-2b8db47d63ba4ab5ad5a55bd16086562.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-06eb2bdba6414bca85aca20dd190c74c.html" target="element"> MySQL </a> </td>
													    <td> <a href="../elements/id-06eb2bdba6414bca85aca20dd190c74c.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2a1b6cfba6b040db9c1dae69ca753697.html" target="element"> PHP </a> </td>
													    <td> <a href="../elements/id-2a1b6cfba6b040db9c1dae69ca753697.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b27443011aef42ddbb6de57b5766efe0.html" target="element"> Drupal 7 </a> </td>
													    <td> <a href="../elements/id-b27443011aef42ddbb6de57b5766efe0.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-2d065be102de4dc4b4eec503f47ea966.html" target="element"> Message stack </a> </td>
															    <td> <a href="../elements/id-2d065be102de4dc4b4eec503f47ea966.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-fc323c2e5a0c4a0daef423db0d087fd5.html" target="element"> Migrate </a> </td>
															    <td> <a href="../elements/id-fc323c2e5a0c4a0daef423db0d087fd5.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e18e7e23434940d98ac4a420819872e9.html" target="element"> Relation </a> </td>
															    <td> <a href="../elements/id-e18e7e23434940d98ac4a420819872e9.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3f7f2c1a833d4cdbbfb53e168262594c.html" target="element"> Search API, Search API Solr en FacetAPI </a> </td>
															    <td> <a href="../elements/id-3f7f2c1a833d4cdbbfb53e168262594c.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-a5b577e344934ed5aad2c9e026a57abf.html" target="element"> Entity </a> </td>
															    <td> <a href="../elements/id-a5b577e344934ed5aad2c9e026a57abf.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-5c216194033d45bf84a461051ec75528.html" target="element"> Ubuntu LTS </a> </td>
													    <td> <a href="../elements/id-5c216194033d45bf84a461051ec75528.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ebb07b13ebae4492a84397812d59237e.html" target="element"> SWC code </a> </td>
													    <td> <a href="../elements/id-ebb07b13ebae4492a84397812d59237e.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e57bce35c7dd4f3bb6a8780a53f95ca6.html" target="element"> SOLR platform </a> </td>
											    <td> <a href="../elements/id-e57bce35c7dd4f3bb6a8780a53f95ca6.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a36b9a95e9ff416cab3a28afb766d17c.html" target="element"> SOLR </a> </td>
													    <td> <a href="../elements/id-a36b9a95e9ff416cab3a28afb766d17c.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5c216194033d45bf84a461051ec75528.html" target="element"> Ubuntu LTS </a> </td>
													    <td> <a href="../elements/id-5c216194033d45bf84a461051ec75528.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-6ddbb0ec89084949ab90920ddb9470b5.html" target="element"> Database-platform </a> </td>
											    <td> <a href="../elements/id-6ddbb0ec89084949ab90920ddb9470b5.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-90796c0337374da8b7e72e6b4a1353f5.html" target="element"> db: gemma_export </a> </td>
													    <td> <a href="../elements/id-90796c0337374da8b7e72e6b4a1353f5.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-06eb2bdba6414bca85aca20dd190c74c.html" target="element"> MySQL </a> </td>
													    <td> <a href="../elements/id-06eb2bdba6414bca85aca20dd190c74c.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5c216194033d45bf84a461051ec75528.html" target="element"> Ubuntu LTS </a> </td>
													    <td> <a href="../elements/id-5c216194033d45bf84a461051ec75528.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-edc569bdc4b946dcaea1321411be9b79.html" target="element"> db: gemma_export_acc </a> </td>
													    <td> <a href="../elements/id-edc569bdc4b946dcaea1321411be9b79.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-50eb5f82189046848c5f7c5d8b6071a1.html" target="element"> Omgeving VNG </a> </td>
											    <td> <a href="../elements/id-50eb5f82189046848c5f7c5d8b6071a1.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d73ac546847c464383a63ea159fc7919.html" target="element"> Export server (PRD en ACC)) </a> </td>
													    <td> <a href="../elements/id-d73ac546847c464383a63ea159fc7919.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-10ce83309dc04c849b63d492e5b07cab.html" target="element"> SWC server (ACC) </a> </td>
													    <td> <a href="../elements/id-10ce83309dc04c849b63d492e5b07cab.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-43cae0438e5748a0b0b37bd347979a50.html" target="element"> SWC server (PRD) </a> </td>
													    <td> <a href="../elements/id-43cae0438e5748a0b0b37bd347979a50.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b001d5eb91e946fc9f2fc6a019658570.html" target="element"> SOLR server (PRD) </a> </td>
													    <td> <a href="../elements/id-b001d5eb91e946fc9f2fc6a019658570.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-074584f36e4d4ad1ad8c74c3bc5a09b8.html" target="element"> SOLR server (ACC) of gedeeld met PRD </a> </td>
													    <td> <a href="../elements/id-074584f36e4d4ad1ad8c74c3bc5a09b8.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4889ee21185c4943ab58b8569f8faaa4.html" target="element"> Laptop Peter </a> </td>
													    <td> <a href="../elements/id-4889ee21185c4943ab58b8569f8faaa4.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2e629270d19e4a1fab00097e8863642f.html" target="element"> Omgeving leverancier </a> </td>
											    <td> <a href="../elements/id-2e629270d19e4a1fab00097e8863642f.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c9e2b97d13b54c34be327fdeb2313b22.html" target="element"> SWC server (TST) </a> </td>
													    <td> <a href="../elements/id-c9e2b97d13b54c34be327fdeb2313b22.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f1279011616a48c982845a2a6a059f9f.html" target="element"> Export server (TST) ??? </a> </td>
													    <td> <a href="../elements/id-f1279011616a48c982845a2a6a059f9f.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3981bec28eee4717b58fcca72f266539.html" target="element"> SOLR server (TST) ??? </a> </td>
													    <td> <a href="../elements/id-3981bec28eee4717b58fcca72f266539.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e5b1ee28996e467b8678334bd72c293f.html" target="element"> Matomo server ??? </a> </td>
													    <td> <a href="../elements/id-e5b1ee28996e467b8678334bd72c293f.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-1ce0cbabc1f24907bb74135505f2242a.html" target="element"> History database servce </a> </td>
											    <td> <a href="../elements/id-1ce0cbabc1f24907bb74135505f2242a.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cd9f72411edc46f692a584a7d8eec2e5.html" target="element"> Softwarecatalogus platform services </a> </td>
											    <td> <a href="../elements/id-cd9f72411edc46f692a584a7d8eec2e5.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fe7573c3be61411e80f7e41e42b16b02.html" target="element"> Drupal application platform services </a> </td>
													    <td> <a href="../elements/id-fe7573c3be61411e80f7e41e42b16b02.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-242b7c88ccd24e8d8d54113f47d91380.html" target="element"> Drupal content management services </a> </td>
													    <td> <a href="../elements/id-242b7c88ccd24e8d8d54113f47d91380.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1191a952bf81466c81268735575ee1ea.html" target="element"> Search service </a> </td>
													    <td> <a href="../elements/id-1191a952bf81466c81268735575ee1ea.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-f21255fbf8d4463fb912ad145ab2258f.html" target="element"> Softwarecatalogus </a> </td>
											    <td> <a href="../elements/id-f21255fbf8d4463fb912ad145ab2258f.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0e760cf9973b4d6bafe47114d90a648b.html" target="element"> Waar Staat Je Gemeente </a> </td>
											    <td> <a href="../elements/id-0e760cf9973b4d6bafe47114d90a648b.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-10951b488eba434ead9d285f7d484771.html" target="element"> MI met Qlik Sense </a> </td>
											    <td> <a href="../elements/id-10951b488eba434ead9d285f7d484771.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6d6a7a0d31f74b41b54d318c0f4e78db.html" target="element"> Applicatie en technisch beheerder </a> </td>
											    <td> <a href="../elements/id-6d6a7a0d31f74b41b54d318c0f4e78db.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e1121c83f9934436b5d94f37fbb8a3c3.html" target="element"> ArchiXL </a> </td>
											    <td> <a href="../elements/id-e1121c83f9934436b5d94f37fbb8a3c3.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f0c74456e55749de9cde3b254f870ee0.html" target="element"> VNG </a> </td>
											    <td> <a href="../elements/id-f0c74456e55749de9cde3b254f870ee0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-81d8462d96984b049600c965de8fe114.html" target="element"> ABF </a> </td>
											    <td> <a href="../elements/id-81d8462d96984b049600c965de8fe114.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b80d775323b34f468a649e403e382bfe.html" target="element"> Functioneel beheerder </a> </td>
											    <td> <a href="../elements/id-b80d775323b34f468a649e403e382bfe.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6d6a7a0d31f74b41b54d318c0f4e78db.html" target="element"> Applicatie en technisch beheerder </a> </td>
											    <td> <a href="../elements/id-6d6a7a0d31f74b41b54d318c0f4e78db.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a1450fa4cb4d4074beb1a3b5af543512.html" target="element"> Opdrachtgever </a> </td>
											    <td> <a href="../elements/id-a1450fa4cb4d4074beb1a3b5af543512.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6d6a7a0d31f74b41b54d318c0f4e78db.html" target="element"> Applicatie en technisch beheerder </a> </td>
											    <td> <a href="../elements/id-6d6a7a0d31f74b41b54d318c0f4e78db.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e94c49cada2348e1b70f8d08bc073618.html" target="element"> Webanalytics </a> </td>
											    <td> <a href="../elements/id-e94c49cada2348e1b70f8d08bc073618.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f92acf172b3f45b289d4580eeb5cfa8f.html" target="element"> analytics platform </a> </td>
											    <td> <a href="../elements/id-f92acf172b3f45b289d4580eeb5cfa8f.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2911cd5341e14765b8a64eda34206da2.html" target="element"> Matomo </a> </td>
													    <td> <a href="../elements/id-2911cd5341e14765b8a64eda34206da2.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-1534491b9e624b8c83816e6418b42df6.html" target="element"> Matomo rapportages </a> </td>
											    <td> <a href="../elements/id-1534491b9e624b8c83816e6418b42df6.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3df035dff1bc47f4b1005067435b5c95.html" target="element"> Metabase dashboard </a> </td>
											    <td> <a href="../elements/id-3df035dff1bc47f4b1005067435b5c95.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-0b09c684436641dfb4803b07c5eca461.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b09c684436641dfb4803b07c5eca461.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2b8db47d63ba4ab5ad5a55bd16086562.html" target="element"> Drupal platform </a> </td>
																		<td> <a href="../elements/id-06eb2bdba6414bca85aca20dd190c74c.html" target="element"> MySQL </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7424e004772f4298af26804c295707b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7424e004772f4298af26804c295707b6.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2b8db47d63ba4ab5ad5a55bd16086562.html" target="element"> Drupal platform </a> </td>
																		<td> <a href="../elements/id-ebb07b13ebae4492a84397812d59237e.html" target="element"> SWC code </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-53d55cee8eab472f93bd8be682f4d90d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-53d55cee8eab472f93bd8be682f4d90d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2b8db47d63ba4ab5ad5a55bd16086562.html" target="element"> Drupal platform </a> </td>
																		<td> <a href="../elements/id-2a1b6cfba6b040db9c1dae69ca753697.html" target="element"> PHP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c267eb37d46340c69fa1c52f6f065791.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c267eb37d46340c69fa1c52f6f065791.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2b8db47d63ba4ab5ad5a55bd16086562.html" target="element"> Drupal platform </a> </td>
																		<td> <a href="../elements/id-cd9f72411edc46f692a584a7d8eec2e5.html" target="element"> Softwarecatalogus platform services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-87c61a4c8ac0493688fb8acbc0b56267.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-87c61a4c8ac0493688fb8acbc0b56267.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2b8db47d63ba4ab5ad5a55bd16086562.html" target="element"> Drupal platform </a> </td>
																		<td> <a href="../elements/id-2a1b6cfba6b040db9c1dae69ca753697.html" target="element"> PHP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e067669d0372439396de26f85eaeeb21.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e067669d0372439396de26f85eaeeb21.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2b8db47d63ba4ab5ad5a55bd16086562.html" target="element"> Drupal platform </a> </td>
																		<td> <a href="../elements/id-b27443011aef42ddbb6de57b5766efe0.html" target="element"> Drupal 7 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d332cda9c4934dfaacf3bcf518af465e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d332cda9c4934dfaacf3bcf518af465e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2b8db47d63ba4ab5ad5a55bd16086562.html" target="element"> Drupal platform </a> </td>
																		<td> <a href="../elements/id-5c216194033d45bf84a461051ec75528.html" target="element"> Ubuntu LTS </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-bbbf18df8c11433d9b615a38c492ca9d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bbbf18df8c11433d9b615a38c492ca9d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b27443011aef42ddbb6de57b5766efe0.html" target="element"> Drupal 7 </a> </td>
																				<td> <a href="../elements/id-2d065be102de4dc4b4eec503f47ea966.html" target="element"> Message stack </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1c7d05e2e6864879a35925eee1c16021.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1c7d05e2e6864879a35925eee1c16021.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b27443011aef42ddbb6de57b5766efe0.html" target="element"> Drupal 7 </a> </td>
																				<td> <a href="../elements/id-3f7f2c1a833d4cdbbfb53e168262594c.html" target="element"> Search API, Search API Solr en FacetAPI </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-59d853d7ff5d4b69ac9e903c42de24f2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-59d853d7ff5d4b69ac9e903c42de24f2.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b27443011aef42ddbb6de57b5766efe0.html" target="element"> Drupal 7 </a> </td>
																				<td> <a href="../elements/id-fc323c2e5a0c4a0daef423db0d087fd5.html" target="element"> Migrate </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ea22831c42c5476aa88f22576affce74.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ea22831c42c5476aa88f22576affce74.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b27443011aef42ddbb6de57b5766efe0.html" target="element"> Drupal 7 </a> </td>
																				<td> <a href="../elements/id-a5b577e344934ed5aad2c9e026a57abf.html" target="element"> Entity </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-747920ba9ab8403e83e21a2f77a76a90.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-747920ba9ab8403e83e21a2f77a76a90.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b27443011aef42ddbb6de57b5766efe0.html" target="element"> Drupal 7 </a> </td>
																				<td> <a href="../elements/id-e18e7e23434940d98ac4a420819872e9.html" target="element"> Relation </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-95950a87cbd0414b8b1da9dd6c74279a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-95950a87cbd0414b8b1da9dd6c74279a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e57bce35c7dd4f3bb6a8780a53f95ca6.html" target="element"> SOLR platform </a> </td>
																		<td> <a href="../elements/id-cd9f72411edc46f692a584a7d8eec2e5.html" target="element"> Softwarecatalogus platform services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-41f5ccedef2e46de88354d9f41fe88be.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41f5ccedef2e46de88354d9f41fe88be.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e57bce35c7dd4f3bb6a8780a53f95ca6.html" target="element"> SOLR platform </a> </td>
																		<td> <a href="../elements/id-5c216194033d45bf84a461051ec75528.html" target="element"> Ubuntu LTS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-097bee724c154f1da4ed71817666b7a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-097bee724c154f1da4ed71817666b7a0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e57bce35c7dd4f3bb6a8780a53f95ca6.html" target="element"> SOLR platform </a> </td>
																		<td> <a href="../elements/id-a36b9a95e9ff416cab3a28afb766d17c.html" target="element"> SOLR </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-37a8fcff6fd84700a67e7cdc95547da4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-37a8fcff6fd84700a67e7cdc95547da4.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6ddbb0ec89084949ab90920ddb9470b5.html" target="element"> Database-platform </a> </td>
																		<td> <a href="../elements/id-edc569bdc4b946dcaea1321411be9b79.html" target="element"> db: gemma_export_acc </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1ed18e3e232646af85ac628d7bbadc47.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ed18e3e232646af85ac628d7bbadc47.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6ddbb0ec89084949ab90920ddb9470b5.html" target="element"> Database-platform </a> </td>
																		<td> <a href="../elements/id-1ce0cbabc1f24907bb74135505f2242a.html" target="element"> History database servce </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-aec129d13f43487693021cdefa2422a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aec129d13f43487693021cdefa2422a1.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6ddbb0ec89084949ab90920ddb9470b5.html" target="element"> Database-platform </a> </td>
																		<td> <a href="../elements/id-90796c0337374da8b7e72e6b4a1353f5.html" target="element"> db: gemma_export </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-80adff0c73f2406083e16a36c9c8b60b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-80adff0c73f2406083e16a36c9c8b60b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6ddbb0ec89084949ab90920ddb9470b5.html" target="element"> Database-platform </a> </td>
																		<td> <a href="../elements/id-5c216194033d45bf84a461051ec75528.html" target="element"> Ubuntu LTS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8598e454de584db1bcaf710f525c7652.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8598e454de584db1bcaf710f525c7652.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6ddbb0ec89084949ab90920ddb9470b5.html" target="element"> Database-platform </a> </td>
																		<td> <a href="../elements/id-06eb2bdba6414bca85aca20dd190c74c.html" target="element"> MySQL </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f7ef349f86874c73bbc8fc6b1ce5dc44.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f7ef349f86874c73bbc8fc6b1ce5dc44.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6ddbb0ec89084949ab90920ddb9470b5.html" target="element"> Database-platform </a> </td>
																		<td> <a href="../elements/id-06eb2bdba6414bca85aca20dd190c74c.html" target="element"> MySQL </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-a29460bcf301460898a58a38f1330520.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a29460bcf301460898a58a38f1330520.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-50eb5f82189046848c5f7c5d8b6071a1.html" target="element"> Omgeving VNG </a> </td>
																		<td> <a href="../elements/id-074584f36e4d4ad1ad8c74c3bc5a09b8.html" target="element"> SOLR server (ACC) of gedeeld met PRD </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c5fcdda2297c497aae126a5f54cbacc0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c5fcdda2297c497aae126a5f54cbacc0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-50eb5f82189046848c5f7c5d8b6071a1.html" target="element"> Omgeving VNG </a> </td>
																		<td> <a href="../elements/id-43cae0438e5748a0b0b37bd347979a50.html" target="element"> SWC server (PRD) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bd720e8005134774929e31ef6595ea7d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd720e8005134774929e31ef6595ea7d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-50eb5f82189046848c5f7c5d8b6071a1.html" target="element"> Omgeving VNG </a> </td>
																		<td> <a href="../elements/id-10ce83309dc04c849b63d492e5b07cab.html" target="element"> SWC server (ACC) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-55ab67550feb46e1b5c7cdaa56bc50f0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-55ab67550feb46e1b5c7cdaa56bc50f0.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d73ac546847c464383a63ea159fc7919.html" target="element"> Export server (PRD en ACC)) </a> </td>
																				<td> <a href="../elements/id-6ddbb0ec89084949ab90920ddb9470b5.html" target="element"> Database-platform </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8ed66cbc3a214dd08887c1f4ee0782aa.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8ed66cbc3a214dd08887c1f4ee0782aa.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-43cae0438e5748a0b0b37bd347979a50.html" target="element"> SWC server (PRD) </a> </td>
																				<td> <a href="../elements/id-2b8db47d63ba4ab5ad5a55bd16086562.html" target="element"> Drupal platform </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-dc1f16fe60aa439a992fcef58e1ea1b3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dc1f16fe60aa439a992fcef58e1ea1b3.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b001d5eb91e946fc9f2fc6a019658570.html" target="element"> SOLR server (PRD) </a> </td>
																				<td> <a href="../elements/id-e57bce35c7dd4f3bb6a8780a53f95ca6.html" target="element"> SOLR platform </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-79c5a488b0b4494d85ce994617b8a380.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-79c5a488b0b4494d85ce994617b8a380.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4889ee21185c4943ab58b8569f8faaa4.html" target="element"> Laptop Peter </a> </td>
																				<td> <a href="../elements/id-3df035dff1bc47f4b1005067435b5c95.html" target="element"> Metabase dashboard </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9e8ebeda12d444c1beb880223098c6ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9e8ebeda12d444c1beb880223098c6ed.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2e629270d19e4a1fab00097e8863642f.html" target="element"> Omgeving leverancier </a> </td>
																		<td> <a href="../elements/id-3981bec28eee4717b58fcca72f266539.html" target="element"> SOLR server (TST) ??? </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4be189c85de64045b049481e82abc135.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4be189c85de64045b049481e82abc135.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2e629270d19e4a1fab00097e8863642f.html" target="element"> Omgeving leverancier </a> </td>
																		<td> <a href="../elements/id-f1279011616a48c982845a2a6a059f9f.html" target="element"> Export server (TST) ??? </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-206eb5669a9d4b87899593ea71ac3278.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-206eb5669a9d4b87899593ea71ac3278.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2e629270d19e4a1fab00097e8863642f.html" target="element"> Omgeving leverancier </a> </td>
																		<td> <a href="../elements/id-c9e2b97d13b54c34be327fdeb2313b22.html" target="element"> SWC server (TST) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-6e7a5bb0d92c45648e95fe95efe6c278.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6e7a5bb0d92c45648e95fe95efe6c278.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e5b1ee28996e467b8678334bd72c293f.html" target="element"> Matomo server ??? </a> </td>
																				<td> <a href="../elements/id-f92acf172b3f45b289d4580eeb5cfa8f.html" target="element"> analytics platform </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-bc5e092a3f294adbbf810c7ce676ff08.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc5e092a3f294adbbf810c7ce676ff08.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1ce0cbabc1f24907bb74135505f2242a.html" target="element"> History database servce </a> </td>
																		<td> <a href="../elements/id-0e760cf9973b4d6bafe47114d90a648b.html" target="element"> Waar Staat Je Gemeente </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c11defe508ec4c2d8a80cb9354c6dc7b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c11defe508ec4c2d8a80cb9354c6dc7b.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1ce0cbabc1f24907bb74135505f2242a.html" target="element"> History database servce </a> </td>
																		<td> <a href="../elements/id-10951b488eba434ead9d285f7d484771.html" target="element"> MI met Qlik Sense </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7a1ce6a9cf7a42758e076e2698cb5eac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7a1ce6a9cf7a42758e076e2698cb5eac.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cd9f72411edc46f692a584a7d8eec2e5.html" target="element"> Softwarecatalogus platform services </a> </td>
																		<td> <a href="../elements/id-242b7c88ccd24e8d8d54113f47d91380.html" target="element"> Drupal content management services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-80a20f450a814896a1607b79d5a50747.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-80a20f450a814896a1607b79d5a50747.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cd9f72411edc46f692a584a7d8eec2e5.html" target="element"> Softwarecatalogus platform services </a> </td>
																		<td> <a href="../elements/id-f21255fbf8d4463fb912ad145ab2258f.html" target="element"> Softwarecatalogus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-36bbac378133418a97de5f2bcc7ad262.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-36bbac378133418a97de5f2bcc7ad262.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cd9f72411edc46f692a584a7d8eec2e5.html" target="element"> Softwarecatalogus platform services </a> </td>
																		<td> <a href="../elements/id-fe7573c3be61411e80f7e41e42b16b02.html" target="element"> Drupal application platform services </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-86dc5d64212d421a9d38490b9b5c5f0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-86dc5d64212d421a9d38490b9b5c5f0c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6d6a7a0d31f74b41b54d318c0f4e78db.html" target="element"> Applicatie en technisch beheerder </a> </td>
																		<td> <a href="../elements/id-f21255fbf8d4463fb912ad145ab2258f.html" target="element"> Softwarecatalogus </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d162b3147bd74d85be346c438efec788.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d162b3147bd74d85be346c438efec788.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e1121c83f9934436b5d94f37fbb8a3c3.html" target="element"> ArchiXL </a> </td>
																		<td> <a href="../elements/id-6d6a7a0d31f74b41b54d318c0f4e78db.html" target="element"> Applicatie en technisch beheerder </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d414de2c7b9241c692a81d2e1cc145eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d414de2c7b9241c692a81d2e1cc145eb.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f0c74456e55749de9cde3b254f870ee0.html" target="element"> VNG </a> </td>
																		<td> <a href="../elements/id-b80d775323b34f468a649e403e382bfe.html" target="element"> Functioneel beheerder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-781189c67603448a91f1b4d864b60a42.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-781189c67603448a91f1b4d864b60a42.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f0c74456e55749de9cde3b254f870ee0.html" target="element"> VNG </a> </td>
																		<td> <a href="../elements/id-6d6a7a0d31f74b41b54d318c0f4e78db.html" target="element"> Applicatie en technisch beheerder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-651b2cd6c5054040949e1834790258f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-651b2cd6c5054040949e1834790258f9.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f0c74456e55749de9cde3b254f870ee0.html" target="element"> VNG </a> </td>
																		<td> <a href="../elements/id-a1450fa4cb4d4074beb1a3b5af543512.html" target="element"> Opdrachtgever </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-dd79f0d0f845443cae7d9fb813a67668.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd79f0d0f845443cae7d9fb813a67668.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-81d8462d96984b049600c965de8fe114.html" target="element"> ABF </a> </td>
																		<td> <a href="../elements/id-6d6a7a0d31f74b41b54d318c0f4e78db.html" target="element"> Applicatie en technisch beheerder </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1febfe8044bb47d1ab6f59a5d705cc1d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1febfe8044bb47d1ab6f59a5d705cc1d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b80d775323b34f468a649e403e382bfe.html" target="element"> Functioneel beheerder </a> </td>
																		<td> <a href="../elements/id-10951b488eba434ead9d285f7d484771.html" target="element"> MI met Qlik Sense </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b3c5d5f54ff34f169351f2e6b4f178ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3c5d5f54ff34f169351f2e6b4f178ef.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b80d775323b34f468a649e403e382bfe.html" target="element"> Functioneel beheerder </a> </td>
																		<td> <a href="../elements/id-f21255fbf8d4463fb912ad145ab2258f.html" target="element"> Softwarecatalogus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-537b36a9121d48dea832f70b82dd0141.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-537b36a9121d48dea832f70b82dd0141.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b80d775323b34f468a649e403e382bfe.html" target="element"> Functioneel beheerder </a> </td>
																		<td> <a href="../elements/id-0e760cf9973b4d6bafe47114d90a648b.html" target="element"> Waar Staat Je Gemeente </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ffe41fd4d9334c018360a042511940fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ffe41fd4d9334c018360a042511940fd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6d6a7a0d31f74b41b54d318c0f4e78db.html" target="element"> Applicatie en technisch beheerder </a> </td>
																		<td> <a href="../elements/id-0e760cf9973b4d6bafe47114d90a648b.html" target="element"> Waar Staat Je Gemeente </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c967a73d4004437991161d785813efab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c967a73d4004437991161d785813efab.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6d6a7a0d31f74b41b54d318c0f4e78db.html" target="element"> Applicatie en technisch beheerder </a> </td>
																		<td> <a href="../elements/id-10951b488eba434ead9d285f7d484771.html" target="element"> MI met Qlik Sense </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-84b2a14d799845d0a4acbec80c8ecce7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-84b2a14d799845d0a4acbec80c8ecce7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f92acf172b3f45b289d4580eeb5cfa8f.html" target="element"> analytics platform </a> </td>
																		<td> <a href="../elements/id-e94c49cada2348e1b70f8d08bc073618.html" target="element"> Webanalytics </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>